adbc_driver_manager==1.1.0
adbc_driver_postgresql==1.1.0
adbc_driver_sqlite==1.1.0
aiohttp==3.9.5
altair_saver==0.5.0
anywidget==0.9.13
AppKit==0.2.8
atheris==2.3.0
bokeh==3.5.0
boto3==1.34.141
botocore==1.34.141
brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
cchardet==2.1.7
ConfigParser==7.0.0
contextlib2==21.6.0
cryptography==42.0.8
cycler==0.12.1
Cython==3.0.10
cytoolz==0.12.3
defusedxml==0.7.1
disco==1.40.4
dl==0.1.0
docutils==0.21.2
docx2txt==0.8
email_validator==2.2.0
eval_type_backport==0.2.0
fastparquet==2024.5.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2024.6.1
gitdb_speedups==0.1.0
grpc_reflection==1.0.0
grpc_tools==1.0.0
gspread==6.1.2
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.105.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
ipython==8.12.3
ipywidgets==8.1.3
isoduration==20.11.0
JPype1==1.5.0
jsonpointer==3.0.0
keyring==25.2.1
lockfile==0.12.2
lxml==5.2.2
matplotlib==3.9.1
mock==5.1.0
mtrand==0.1
numarray==1.5.1
Numeric==24.2
numexpr==2.10.1
oauth2client==4.1.3
odfpy==1.4.1
olefile==0.47
openai==1.35.10
openpyxl==3.1.5
ordereddict==1.1
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==5.22.0
psutil==6.0.0
pycares==4.4.0
pycurl==7.45.3
PyInstaller==6.9.0
pyodide==0.0.2
pyOpenSSL==24.1.0
pypdf==4.2.0
pyperf==2.7.0
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.7.0
PySide6==6.7.2
pytest==8.2.2
python-dotenv==1.0.1
python_calamine==0.2.0
pyu2f==0.1.5
pywin32==306
pyxlsb==1.0.10
PyYAML==6.0.1
PyYAML==6.0.1
qtpy==2.4.1
railroad==0.5.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.6.1
scikit_learn==1.5.1
scipy==1.14.0
sets==0.3.2
setuptools_scm==8.1.0
simplejson==3.19.2
slack_sdk==3.31.0
sniffio==1.3.1
snowflake==0.10.0
Sphinx==7.3.7
SQLAlchemy==2.0.31
sympy==1.13.0
tables==3.9.2
testbench==0.1.2
testfixtures==8.3.0
thread==2.0.4
threadpoolctl==3.5.0
traitlets==5.14.3
trio==0.26.0
uri_template==1.3.0
vegafusion==1.6.9
webcolors==24.6.0
xarray==2024.6.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
zipp==3.19.2
zstandard==0.22.0
